#footer {
    padding-top: 22rem;
    padding-bottom: 6rem;
    @include laptop() {
        padding-top: 18rem;
    }
    @include mobile() {
        padding-top: 16rem;
    }

    .logo { width: 6.25rem; }
    .footer-grid {
        display: grid;
        grid-column-gap: 7rem;
        grid-template-columns: .5fr 1fr 1fr .5fr;
        margin-top: 3.75rem;
        @include laptop() {
            grid-template-columns: .5fr .75fr;
        }
        @include mobile() {
            grid-column-gap: 1.5rem;
            grid-template-columns: .75fr 1fr;
        }
        
        .footer-col {
            .title {
                margin-top: 1.25rem;
                display: block;
                font-variation-settings: "wght" 90;
                font-size: 1.125rem;
                line-height: 130%;
            }
            .link-list {
                margin: 1.25rem 0;

                .link-item {
                    padding: 1.25rem 0;

                    a {
                        color: #8a8a8a;
                        font-variation-settings: "wght" 100;
                        font-size: 1.125rem;
                        &:hover { 
                            color: var(--swatch--accent); 
                            img { filter: brightness(200%); }
                        }

                        &.icon-wrap {
                            display: flex;
                            align-items: center;
                            
                            img {
                                width: 1rem;
                                height: 1rem;
                                margin-right: .625rem;
                            }
                        }
                    }
                    &.btn-contact {
                        a {
                            color: var(--swatch--white);
                            .btn-cta-arrow { transform: rotate(-45deg); }
                        }
                    }
                }
            }
        }
    }
}